<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../font/fontawesome-free-5.15.3-web/css/all.css" />
  <!-- CSS only -->
  <link rel="shortcut icon" href="#" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/chat.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <title>Web Chat</title>
</head>

<body>
  <div class="app">


    <div class="app__body">



<!-- Modal -->
<div class="modal fade" id="answer_call" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header modal-video-call-header">
        <div class="modal-title" id="answer_call_header">

        </div>
      </div>
      <div class="modal-footer modal-video-call-footer">
        <button type="button" id="btn_deny_the_call" class="btn btn-danger" data-dismiss="modal" ><i class="fas fa-phone-slash"></i></button>
        <button type="button" id="btn_accept_the_call" class="btn btn-success" data-toggle="modal" data-target="#modal_video_call"><i class="fas fa-phone-volume"></i></button>
      </div>
    </div>
  </div>
</div>

            <!-- Modal -->
<div class="modal fade" id="modal_video_call" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 800px;">
    <div class="modal-content">
     
      <div class="modal-body" style="padding:0;">
        <div style="position:relative;">
          <video  id="remoteStream" width="100%" preload="none" controls>
          </video>
          <div style="left: 47%;
          bottom: 32px;
          position: absolute;">
            <button type="button" id="destroy_video_call" class="btn btn-danger" data-dismiss="modal">
              <i class="fas fa-phone-slash"></i>
            </button>
          </div>
          <div style="position: absolute;
          right: 0;
          bottom: 7px;
          border: 2px solid orange;
          max-width: 200px;">
            <video  id="localStream" width="100%" preload="none" controls></video>
          </div>
        </div>
          
      </div>
      <!-- <div class="modal-footer ">
        <button type="button" id="destroy_video_call" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

      <!-- Side bar -->
      <div class="sidebar">

        <div class="sidebar__search">
          <div class="sidebar__searchContainer">
            <!-- <input type="text" placeholder="Search" class="sidebar__searchInput" id="typing_search"></input> -->
            <div class="dropdown">
              <input type ="text" autocomplete="off" placeholder="Search" class="sidebar__searchInput" id="search_user" class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </input>
              <div class="dropdown-menu dropdown-menu-items dropdown__friend" style="border-radius: 10px;"id="search_user_result" aria-labelledby="dropdownMenuButton">
                <!-- <a class="dropdown-item" href="#">Action</a> -->
              </div>
            </div>
            <button class="search__btn">
              <i style="color: #000;" class="fas fa-search sidebar__searchIcon"></i>
            </button>
          </div>

          <div class="addMember">
            <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-primary addRoom__btn" data-toggle="modal" data-target="#create_room">
                  
                  <div class="popup" onmouseover="myFunction()">
                    <i class="fas fa-users"></i>
                    <span class="popuptext" id="myPopup">Create room</span>
                  </div>
              </button>
              <!-- Modal -->
              <div class="modal fade" id="create_room" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Create Room</h5>
                    </div>
                    <div class="modal-body">
                      <input type="text" id="input_create_room" autocomplete="off" placeholder="Enter Room Name...">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary cancel__btn edit__btn-hover" data-dismiss="modal">Cancel</button>
                      <button type="button" id="btn_create_room" class="btn btn-secondary" data-dismiss="modal">Create</button>
                      <!-- <button type="button"  class="btn btn-primary" >create</button> -->
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="sidebar__chats" id="show_rooms">
          <!-- <div class="sidebarChat">
            <img
              src="https://scontent.fhan5-5.fna.fbcdn.net/v/t1.6435-9/228713886_2993150524340198_2752976921324728670_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=E77XdUhaw5QAX_RGbFf&_nc_oc=AQlAPmeMZS0uoWkxSOfXpVN3J1SeaEZS3pwW1t2NhQcxf5DZkCVygr56fU9froEGZHWFqlQa8g4M4Brt9nV8i1TW&_nc_ht=scontent.fhan5-5.fna&oh=a51edd9961577d5b99e44b71e9deef99&oe=614A1C69"
              alt="Avatar" class="avatar" />
            <div class="sidebarChat__info">
              <h2 class="sidebarChat__info-name">Thực tập cơ sở nhóm 13</h2>
              <p>Last Message</p>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Chat -->
      <div class="chat">
        <div class="chat__header" id="chat_header">
          <img id="show_curr_room_img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHSR0zLO6F4gwew26l3DZYUTxtBc_VywwEaw&usqp=CAU"
            alt="Avatar" class="avatar" />

          <div class="chat__headerInfo">
            <h3 class="chat__headerInfo-name" id="show_curr_room_name"></h3>
            <p class="chat__headerInfo-status">...</p>
          </div>

          <div class="chat__headerRight" id="chat_header_right">

            <!-- Button trigger modal -->
            <!-- Button trigger modal -->
            <button class = 'modal_add_member btn btn-outline-primary' type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_member">
              <i class="fas fa-user-plus"></i>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="modal_add_member" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="modal-title" id="exampleModalLongTitle">
                      <input type="text" name="" id="search_friend" autocomplete="off" placeholder="Search...">
                      <button class="search__btn" style="padding: 3px; outline: none; border: none;border-radius: 0px 15px 15px 0px;">
                        <i style="color: #000;" class="fas fa-search sidebar__searchIcon"></i>
                      </button>
                    </div>
                  </div>
                  <div class="modal-body" id="search_friend_result">

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel__btn" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button class="btn addMember__btn">
              <i class="fas fa-user-plus"></i>
            </button> -->
            <button class="phone__btn btn btn-outline-primary">
              <i class="fas fa-phone"></i>
            </button>

            <!-- <button id="btn_video_call" class="video__btn btn btn-outline-primary">
              <i class="fas fa-video"></i>
            </button> -->



            <!-- Button trigger modal -->
            <button id="btn_video_call" class="video__btn btn btn-outline-primary" class="btn btn-primary" data-toggle="modal" data-target="#modal_video_call">
              <i class="fas fa-video"></i>
            </button>


            <button class = 'modal_add_member btn btn-outline-primary' id="btn_show_members" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_show_member_haha">
              <i class="fas fa-info"></i>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="modal_show_member_haha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="modal-title" id="exampleModalLongTitle">
                      <h5>Members</h5>
                    </div>
                  </div>
                  <div class="modal-body" id="show_members">

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel__btn" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chat__body" id="show_messages">


          <!-- <p class="chat__sender">
            <span class="chat__name">Vũ</span>
            Messages
            <span class="chat__time">12:00</span>
          </p>

          <p class="chat__sender chat__receiver">
            <span class="chat__name">Vũ</span>
            Messages
            <span class="chat__time">12:00</span>
          </p> -->

        </div>
        <div class="chat__footer">
          <i class="far fa-smile chat__footer-icons"></i>
          <form class="chat__footer-form" id="form_typing_mess">
            <input placeholder="Type a message" type="text" class="chat__footer-input" />
            <button type="submit" class="chat__footer-button"></button>
          </form>
          <i class="fas fa-link chat__footer-icons"></i>
          <div class="chat-bubble" id="typing" >
            <div class="typing" >
              <div class="typing-name">typing</div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
        </div>
      </div>

    
      <div class="friend">
        <div class="friend__container">
        <div class="friend__knowing">
          <div class="sidebar__header">
            <div class="sidebar__header-wrap" id="show_info">
              <!-- info here -->
              <div class="sidebar__headerRight">

                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_friend_reqs">
                      <div id="length_of_req" style="color:white;background-color: red; border-radius: 40% ; min-width: 20px;max-height: 20px; font-size: 12px;text-align: center;position: absolute;transform: translate(15px, -10px);font-weight: 1000; "></div>
                      <i class="fas fa-user-friends"></i>
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="modal_friend_reqs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Friend Request</h5>
                        </div>
                        <div class="modal-body" id="friend_reqs">

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary cancel__btn edit__btn-hover" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>

                   <!-- Default dropleft button -->
                  <div class=" dropbottom sidebar__3dot">
                    <button type="button" class="btn btn-outline-primary" id="dropdownMenu_11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenu_11">

                      <!-- Button trigger modal -->
                      <!-- <a class="dropdown-item" id="update_info" href="#">
                        <i class="fas fa-user-edit"></i>
                        <span style="font-size: 16px; font-weight: 700; margin-left: 10px;color:#fff;">Update Info</span>
                      </a> -->
                      <a class="dropdown-item" id="logout" href="#">
                        <i class="fas fa-sign-out-alt"></i>
                        <span style="font-size: 16px; font-weight: 700; margin-left: 10px;color:#fff;">Log out</span>
                      </a>
                    </div>
                  </div>
                 
              <!-- <div class="sidebar__headerRight">
                 <button type="button" class="btn btn-outline-primary">
                 </button>
              </div> -->
            </div>
          </div>
          </div>

          <div style="flex: 1; background: linear-gradient(to right, #6c959c, #456480);border-radius: 16px 0 0 16px;">
            <ul class="friend__list" id="show_friends">
              <!-- <li class="friend__items">
                <img src="https://raw.githubusercontent.com/TonTon69/Dashboard_UI/main/assets/img/giphy.gif" alt="Avatar" class="avatar" />
                <div class="sidebarChat__info">
                  <h2 class="sidebarChat__info-name">Vũ</h2>
                </div>
              </li> -->
              </ul>
          </div>

          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
 
  <input type="text" value="{{user_id}}" id="user_id" >
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script>
  const user_id = document.querySelector('#user_id');
  user_id.setAttribute("style", "display: none");
</script>
<script src="socket.io/socket.io.js"></script>
<script src="../initTag/initTag.js"></script>
<script src="../client.js"></script>




<script>
  // When the user clicks on <div>, open the popup
  function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
  }
  </script>
