<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../font/fontawesome-free-5.15.3-web/css/all.css" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/chat.css">
  <title>Document</title>
</head>

<body>
  <div class="app">
    <div class="app__body">

      <!-- Side bar -->
      <div class="sidebar">
        <div class="sidebar__header" id="show_info">
          <!-- <img
            src='#'
            alt="Avatar" class="avatar" />
            <span>name</span>
          <div class="sidebar__headerRight">
            <button type="button" class="btn btn-outline-primary">
              <i class="fas fa-ellipsis-v "></i>
            </button>
          </div> -->
        </div>

        <div class="sidebar__search">
          <div class="sidebar__searchContainer">
            <!-- <input type="text" placeholder="Search" class="sidebar__searchInput" id="typing_search"></input> -->
            <div class="dropdown">
              <input type ="text" placeholder="Search" class="sidebar__searchInput" id="typing_search" class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </input>
              <div class="dropdown-menu" id="typing_search_dropdown" aria-labelledby="typing_search">
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </div>
            <button class="search__btn">
              <i class="fas fa-search sidebar__searchIcon"></i>
            </button>
          </div>

          <div class="addMember">
            <button class="addRoom__btn">
              <i class="fas fa-users"></i>
            </button>
          </div>
        </div>

        <div class="sidebar__chats" id="show_rooms">
          <!-- <div class="sidebarChat">
            <img
              src="https://scontent.fhan5-5.fna.fbcdn.net/v/t1.6435-9/228713886_2993150524340198_2752976921324728670_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=E77XdUhaw5QAX_RGbFf&_nc_oc=AQlAPmeMZS0uoWkxSOfXpVN3J1SeaEZS3pwW1t2NhQcxf5DZkCVygr56fU9froEGZHWFqlQa8g4M4Brt9nV8i1TW&_nc_ht=scontent.fhan5-5.fna&oh=a51edd9961577d5b99e44b71e9deef99&oe=614A1C69"
              alt="Avatar" class="avatar" />
            <div class="sidebarChat__info">
              <h2 class="sidebarChat__info-name">Thực tập cơ sở nhóm 13</h2>
              <p>Last Message</p>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Chat -->
      <div class="chat">
        <div class="chat__header" id="show_curr_room">
          <img id="show_curr_room_img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHSR0zLO6F4gwew26l3DZYUTxtBc_VywwEaw&usqp=CAU"
            alt="Avatar" class="avatar" />

          <div class="chat__headerInfo">
            <h3 class="chat__headerInfo-name" id="show_curr_room_name"></h3>
            <p class="chat__headerInfo-status">Description</p>
          </div>

          <div class="chat__headerRight">
            <button class="addMember__btn">
              <i class="fas fa-user-plus"></i>
            </button>
            <button class="addMember__btn">
              <i class="fas fa-phone"></i>
            </button>

            <button class="addMember__btn">
              <i class="fas fa-video"></i>
            </button>
            
           
            
          </div>
        </div>

        <div class="chat__body" id="show_messages">

          <!-- <p class="chat__sender">
            <span class="chat__name">Vũ</span>
            Messages
            <span class="chat__time">12:00</span>
          </p>

          <p class="chat__sender chat__receiver">
            <span class="chat__name">Vũ</span>
            Messages
            <span class="chat__time">12:00</span>
          </p> -->
        </div>


        <div class="chat__footer">
          <i class="far fa-smile chat__footer-icons"></i>
          <form class="chat__footer-form" id="form_typing_mess">
            <input placeholder="Type a message" type="text" class="chat__footer-input" />
            <button type="submit" class="chat__footer-button"></button>
          </form>
          <i class="fas fa-link chat__footer-icons"></i>
        </div>
      </div>

      <div class="find__job" >

        <!-- <div class="sidebar__header" id="show_info">
          <div class="sidebar__headerRight">
            <button type="button" class="btn btn-outline-primary">
              <i class="fas fa-ellipsis-v "></i>
            </button>
          </div>
        </div> -->
        <div class="sidebar__search">
          <div class="sidebar__searchContainer">
            <!-- <input type="text" placeholder="Search" class="sidebar__searchInput" id="typing_search"></input> -->
            <div class="dropdown">
              <input type ="text" placeholder="Search" class="sidebar__searchInput" id="typing_search" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </input>
              <div class="dropdown-menu" id="typing_search_dropdown aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here something alse here </a>
              </div>
            </div>
            <i class="fas fa-search sidebar__searchIcon"></i>
          </div>

          <div class="addMember">
            <button class="addMember__btn">
              <i class="fas fa-users"></i>
            </button>
          </div>
        </div>

        <div class="sidebar__chats" id="show_friends">
          <div class="sidebarChat">
            <img
              src="https://scontent.fhan5-5.fna.fbcdn.net/v/t1.6435-9/228713886_2993150524340198_2752976921324728670_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=E77XdUhaw5QAX_RGbFf&_nc_oc=AQlAPmeMZS0uoWkxSOfXpVN3J1SeaEZS3pwW1t2NhQcxf5DZkCVygr56fU9froEGZHWFqlQa8g4M4Brt9nV8i1TW&_nc_ht=scontent.fhan5-5.fna&oh=a51edd9961577d5b99e44b71e9deef99&oe=614A1C69"
              alt="Avatar" class="avatar" />
            <div class="sidebarChat__info">
              <h2 class="sidebarChat__info-name">Thực tập cơ sở nhóm 13</h2>
              <p>Last Message</p>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>

     <!-- Modal -->
    <div class="modal">
      <div class="modal__container">
        <div class="modal__close">
          <i class="fas fa-times"></i>
        </div>
        <header class="modal-header">
          <i class="fas fa-suitcase"></i>
          <label class="modal-header-label" >Create room chat</label>
        </header>

        <div class="modal__body">
          <label for="" class="modal__label">
            Room Name
          </label>
          <input type="text" class="modal__input" placeholder="Room name">
          <label for="" class="modal__label">
            Description
          </label>
          <input type="text" class="modal__input" placeholder="Write something">
          <button class="add">
            Create
          </button>
        </div>
      </div>
    </div>

    <div class="modal-friend">
      <div class="modal-friend__container">
        <div class="modal-friend__close">
          <i class="fas fa-times"></i>
        </div>
        <header class="modal-friend-header">
          <i class="fas fa-suitcase"></i>
          <label class="modal-friend-header-label" >Add friend</label>
        </header>

        <div class="modal-friend__body">
          <label for="" class="modal-friend__label">
            Friend Name
          </label>
          <input type="text" class="modal-friend__input" placeholder="Search friend name">

          <button class="add-friend">
            ADD FRIEND
          </button>
        </div>
      </div>
    </div>
    

   

  </div>
 
  <input type="text" value="{{user_id}}" id="user_id" >
  <script>
    const invite = document.querySelectorAll('.addMember__btn');
    const modalFriend = document.querySelector('.modal-friend');
    const closeModal = document.querySelector('.modal-friend__close');
    const modalFriendContainer = document.querySelector('.modal-friend__container');
    for(const i of invite){
      i.addEventListener('click',() => {
        modalFriend.classList.add('open-friend');
      })
    }

   closeModal.addEventListener('click',() => {
    modalFriend.classList.remove('open-friend');
   })
   
   modalFriend.addEventListener('click',() => {
    modalFriend.classList.remove('open-friend');
   })

   modalFriendContainer.addEventListener('click',(e) =>{
    e.stopPropagation();
   })
  </script>
  <script>
    const add = document.querySelectorAll('.addRoom__btn');
    const modal = document.querySelector('.modal');
    const close = document.querySelector('.modal__close')
    const modalContainer = document.querySelector('.modal__container');
    for(const i of add){
      i.addEventListener('click',() => {
        modal.classList.add('open');
      })
    }

   close.addEventListener('click',() => {
    modal.classList.remove('open');
   })
   
   modal.addEventListener('click',() => {
    modal.classList.remove('open');
   })

   modalContainer.addEventListener('click',(e) =>{
    e.stopPropagation();
   })
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script>
  const user_id = document.querySelector('#user_id');
  user_id.setAttribute("style", "display: none");
</script>
<script src="socket.io/socket.io.js"></script>
<script src="../initTag/initTag.js"></script>
<script src="../client.js"></script>

