<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Sign up</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
  <link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' rel='stylesheet'>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" href="../css/signup.css">
</head>

<body oncontextmenu='return false' class='snippet-body'>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form method="post" action="" class="box">
            <h1>SIGN UP</h1>
            <p class="text-muted"> please fill in the form correctly</p>
              <input type="text" name="name" placeholder="Name">
              <input type="text" name="email" placeholder="Email">
              <input type="password" name="password" placeholder="Password">
              <input type="password" name="repassword" placeholder="RePassword">

              <a class="forgot text-muted" href="/login">Login?</a>

              <input type="submit" name="" value="Sign Up" >
            <div class="col-md-12">
              <!--  <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
              </ul>
            -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript'
    src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
  <script type='text/javascript'></script>
</body>
<script src="/socket.io/socket.io.js"></script>
