.sidebarChat {
  margin-top: 6px;
  display: flex;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info {
  margin-left: 18px;
}

.sidebarChat__info-name {
  font-size: 18px;
  margin-bottom: 8px;
}
.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: -50px;
  height: 95vh;
  width: 100vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
.chat {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.chat__header {
  min-height: 108px;
  max-height: 108px;
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
  display: flex;
  flex: 0.7;
  padding-left: 20px;
}

.chat__headerRight {
  display: flex;
  flex: 0.3;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.chat__headerInfo-name {
  font-weight: 500;
  margin-bottom: 4px;
}

.chat__headerInfo-status {
  color: gray;
}

.chat__body {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  background-image: url("https://zicxa.com/vi//uploaded/files/hinh-nen-mau-tim-2.jpg");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow-y: auto;
}

.chat__sender {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 30px;
}

.chat__time {
  font-size: 12px;
  margin-left: 10px;
}

.chat__name {
  position: absolute;
  top: -17px;
  left: 5px;
  font-size: 14px;
  font-weight: 100px;
}

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-top: 1px solid lightgray;
}

.chat__footer-form {
  display: flex;
  flex: 1;
}

.chat__footer-input {
  flex: 1;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 10px;
}

.chat__footer-button {
  display: none;
}

.chat__footer-icons {
  color: gray;
  padding: 10px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
}

.search__btn {
  border: none;
  background: #fff;
  font-size: 15px;
  padding: 0px 6px 0px 6px;
  border-radius: 20px;
}

.sidebar__searchIcon:hover {
  color: black;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-right: 1px solid lightgray;
}

.sidebar__header-wrap {
  display: flex;
  width: 100%;
}

.sidebar__header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar__headerLeft {
  display: flex;
  flex: 0.8;
  align-items: center;
}

.sidebar__header-userName {
  display: block;
  font-size: 20px;
  margin-left: 8px;
}

.sidebar__headerRight {
  display: flex;
  flex: 0.2;
  align-items: center;
  justify-content: flex-end;
}

.sidebar__headerIcon {
  margin-right: 4px;
  font-size: 24px !important;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 38px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  flex: 0.7;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: 34px;
  border-radius: 20px;
}

.sidebar__searchIcon {
  color: gray;
  padding: 10px;
}

.sidebar__searchInput {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

.sidebar__chats {
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
}
* {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar_onchat {
  margin-right: 3px;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.friend {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  background-color: lightblue;
}

.friend__container {
  padding: 14px;
}

/* .friend__knowing {
} */

.friend__list {
  display: flex;
}

.friend__items {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(144, 144, 144);
  border-radius: 10px;
}

.addMember {
  display: flex;
  flex: 0.3;
  justify-content: flex-end;
}

.addRoom__btn {
  border: none;
  padding: 6px;
  background: #f6f6f6;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.open {
  display: flex;
}

.modal__container {
  background-color: #fff;
  width: 550px;
  min-height: 330px;
  position: relative;
  animation: fadeIn ease-in-out 0.3s;
}
.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  opacity: 0.9;
}

.modal__close:hover {
  opacity: 1;
  color: black;
}
.modal-header {
  display: flex;
  background: #009688;
  height: 56px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #fff;
}

.modal-header-label {
  margin-left: 8px;
}
.modal__body {
  padding: 16px;
}
.modal__label {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.modal__input {
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}

.modal__input:hover {
  border: 1px solid blue;
}

.add {
  border: none;
  width: 100%;
  background: #009688;
  font-size: 16px;
  padding: 10px;
  color: #fff;
}

.add:hover {
  opacity: 0.9;
}

.modal-friend {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-friend__container {
  background-color: #fff;
  width: 550px;
  min-height: 260px;
  position: relative;
  animation: fadeIn ease-in-out 0.3s;
}
.modal-friend__close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  opacity: 0.9;
}

.modal-friend__close:hover {
  opacity: 1;
  color: black;
}
.modal-friend-header {
  display: flex;
  background: #009688;
  height: 56px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #fff;
}

.modal-friend-header-label {
  margin-left: 8px;
}
.modal-friend__body {
  padding: 16px;
}
.modal-friend__label {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.modal-friend__input {
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}

.modal__input:hover {
  border: 1px solid blue;
}

.add-friend {
  border: none;
  color: #fff;
  width: 100%;
  background: #009688;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.add-friend:hover {
  opacity: 0.9;
}

.open-friend {
  display: flex;
}

@keyframes fadeIn {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ------------------------ */
body{
  background-color: #f8f9fa!important
}
.p-4 {
  padding: 1.5rem!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}    
}
/* user-dashboard-info-box */
.user-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
}
.user-dashboard-info-box .candidates-list .thumb img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.user-dashboard-info-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
}

.user-dashboard-info-box .candidates-list td {
  vertical-align: middle;
}

.user-dashboard-info-box td li {
  margin: 0 4px;
}

.user-dashboard-info-box .table thead th {
  border-bottom: none;
}

.table.manage-candidates-top th {
  border: 0;
}

.user-dashboard-info-box .candidate-list-favourite-time .candidate-list-favourite {
  margin-bottom: 10px;
}

.table.manage-candidates-top {
  min-width: 650px;
}

.user-dashboard-info-box .candidate-list-details ul {
  color: #969696;
}

/* Candidate List */
.candidate-list {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.candidate-list:hover {
  -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  position: relative;
  z-index: 99;
}
.candidate-list:hover a.candidate-list-favourite {
  color: #e74c3c;
  -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
  box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
}

.candidate-list .candidate-list-image {
  margin-right: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  border: none;
}
.candidate-list .candidate-list-image img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}

.candidate-list-title {
  margin-bottom: 5px;
}

.candidate-list-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.candidate-list-details ul li {
  margin: 5px 10px 5px 0px;
  font-size: 13px;
}

.candidate-list .candidate-list-favourite-time {
  margin-left: auto;
  text-align: center;
  font-size: 13px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}
.candidate-list .candidate-list-favourite-time span {
  display: block;
  margin: 0 auto;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  font-size: 16px;
  color: #646f79;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
  background: #ffffff;
  color: #e74c3c;
}

.candidate-banner .candidate-list:hover {
  position: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  z-index: inherit;
}

.bg-white {
  background-color: #ffffff !important;
}
.p-4 {
  padding: 1.5rem!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.user-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
}