.sidebarChat {
  margin-top: 6px;
  display: flex;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info {
  margin-left: 18px;
}

.sidebarChat__info-name {
  font-size: 18px;
  margin-bottom: 8px;
}
.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: -50px;
  height: 95vh;
  width: 100vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
.chat {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.chat__header {
  min-height: 108px;
  max-height: 108px;
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
  display: flex;
  flex: 0.7;
  padding-left: 20px;
}

.chat__headerRight {
  display: flex;
  flex: 0.3;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.chat__headerInfo-name {
  font-weight: 500;
  margin-bottom: 4px;
}

.chat__headerInfo-status {
  color: gray;
}

.chat__body {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  background-image: url("https://zicxa.com/vi//uploaded/files/hinh-nen-mau-tim-2.jpg");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow-y: auto;
}

.chat__sender {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 30px;
}

.chat__time {
  font-size: 12px;
  margin-left: 10px;
}

.chat__name {
  position: absolute;
  top: -18px;
  font-size: 14px;
  font-weight: 700;
}

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-top: 1px solid lightgray;
}

.chat__footer-form {
  display: flex;
  flex: 1;
}

.chat__footer-input {
  flex: 1;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 10px;
}

.chat__footer-button {
  display: none;
}

.chat__footer-icons {
  color: gray;
  padding: 10px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 10vw;
}

.sidebar__headerIcon {
  margin-right: 4px;
  font-size: 24px !important;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 38px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 34px;
  border-radius: 20px;
}

.sidebar__searchIcon {
  color: gray;
  padding: 10px;
}

.sidebar__searchInput {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

.sidebar__chats {
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
}
* {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.friend {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  background-color: lightblue;
}

.friend__container {
  padding: 14px;
}

/* .friend__knowing {
}

.friend__list {
}

.friend__items {
} */

::-webkit-scrollbar {
  width: 10px;
  background-color: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(144, 144, 144);
  border-radius: 10px;
}

.addMember {
  display: flex;
  flex: 0.3;
  justify-content: flex-end;
}

.addRoom__btn {
  border: none;
  padding: 6px;
  background: #f6f6f6;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.open {
  display: flex;
}

.modal__container {
  background-color: #fff;
  width: 550px;
  min-height: 330px;
  position: relative;
  animation: fadeIn ease-in-out 0.3s;
}
.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  opacity: 0.9;
}

.modal__close:hover {
  opacity: 1;
  color: black;
}
.modal-header {
  display: flex;
  background: #009688;
  height: 56px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #fff;
}

.modal-header-label {
  margin-left: 8px;
}
.modal__body {
  padding: 16px;
}
.modal__label {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.modal__input {
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}

.modal__input:hover {
  border: 1px solid blue;
}

.add {
  border: none;
  width: 100%;
  background: #009688;
  font-size: 16px;
  padding: 10px;
}

.add:hover {
  opacity: 0.9;
}

.modal-friend {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-friend__container {
  background-color: #fff;
  width: 550px;
  min-height: 260px;
  position: relative;
  animation: fadeIn ease-in-out 0.3s;
}
.modal-friend__close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  opacity: 0.9;
}

.modal-friend__close:hover {
  opacity: 1;
  color: black;
}
.modal-friend-header {
  display: flex;
  background: #009688;
  height: 56px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #fff;
}

.modal-friend-header-label {
  margin-left: 8px;
}
.modal-friend__body {
  padding: 16px;
}
.modal-friend__label {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.modal-friend__input {
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}

.modal__input:hover {
  border: 1px solid blue;
}

.add-friend {
  border: none;
  width: 100%;
  background: #009688;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.add-friend:hover {
  opacity: 0.9;
}

@keyframes fadeIn {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
