.sidebarChat {
  margin-top: 6px;
  display: flex;
  padding: 4px 4px 4px 8px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info {
  margin-left: 18px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sidebarChat__info-name {
  font-size: 18px;
  margin-bottom: 8px;
}
.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: 0px;
  height: 100vh;
  width: 100vw;
}
.chat {
  display: flex;
  flex-direction: column;
  flex: 0.6;
}

.chat__header {
  min-height: 108px;
  max-height: 108px;
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
  display: flex;
  flex: 0.7;
  padding-left: 20px;
  flex-direction: column;
}

.chat__headerRight {
  display: flex;
  flex: 0.3;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.chat__headerInfo-name {
  font-weight: 500;
  margin-bottom: 4px;
}

.chat__headerInfo-status {
  color: gray;
}

.chat__body {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  background-image: url("https://raw.githubusercontent.com/TonTon69/Dashboard_UI/main/assets/img/giphy.gif");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow-y: auto;
}

.chat__sender {
  position: relative;
  font-size: 16px;
  padding: 10px;
  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 30px;
}

.chat__time {
  font-size: 12px;
  margin-left: 10px;
}

.chat__name {
  position: absolute;
  top: -17px;
  left: 5px;
  font-size: 14px;
  font-weight: 100px;
}

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-top: 1px solid lightgray;
}

.chat__footer-form {
  display: flex;
  flex: 1;
}

.chat__footer-input {
  flex: 1;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 10px;
}

.chat__footer-button {
  display: none;
}

.chat__footer-icons {
  color: gray;
  padding: 10px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
}

.search__btn {
  border: none;
  background: #fff;
  font-size: 15px;
  padding: 0px 6px 0px 6px;
  border-radius: 20px;
}

.sidebar__searchIcon:hover {
  color: black;
}

.sidebar__header {
  background-color: #dadbd3;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 10px;
  border-right: 1px solid lightgray;
}

.sidebar__header-wrap {
  display: flex;
  width: 100%;
}

.sidebar__header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar__headerLeft {
  display: flex;
  flex: 0.8;
  align-items: center;
}

.sidebar__header-userName {
  display: block;
  font-size: 20px;
  margin-left: 8px;
}

.sidebar__headerRight {
  display: flex;
  flex: 0.2;
  align-items: center;
  justify-content: flex-end;
}

.sidebar__headerIcon {
  margin-right: 4px;
  font-size: 24px !important;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 38px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  flex: 0.7;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: 34px;
  border-radius: 20px;
}

.sidebar__searchIcon {
  color: gray;
  padding: 10px;
}

.sidebar__searchInput {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

.sidebar__chats {
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
}

.sidebarChat-link {
  text-decoration: none;
}
* {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  border: none;
  padding: 10px;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar_onchat {
  margin-right: 3px;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.friend {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  background-color: white;
}

.friend__container {
  padding: 0px;
}

/* .friend__knowing {
} */

.friend__list {
  display: flex;
  padding: 0;
  flex-direction: column;
}

.friend__items {
  list-style: none;
  display: flex;
  padding: 4px 6px 6px 4px;
  align-items: center;
}

.friend__items:hover {
  background-color: #ebebeb;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(144, 144, 144);
  border-radius: 10px;
}

.addMember {
  display: flex;
  flex: 0.3;
  justify-content: flex-end;
}

.addRoom__btn {
  border: none;
  padding: 6px;
  background: #f6f6f6;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.open {
  display: flex;
}

.modal__container {
  background-color: #fff;
  width: 550px;
  min-height: 250px;
  position: relative;
  animation: fadeIn ease-in-out 0.3s;
}
.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  opacity: 0.9;
}

.modal__close:hover {
  opacity: 1;
  color: black;
}
.modal-header {
  display: flex;
  background: #009688;
  height: 56px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #fff;
}

.modal-header-label {
  margin-left: 8px;
}
.modal__body {
  padding: 16px;
}
.modal__label {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.modal__input {
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}

.modal__input:hover {
  border: 1px solid blue;
}

.add {
  border: none;
  width: 100%;
  background: #009688;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.add:hover {
  opacity: 0.9;
}

.modal-friend {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-friend__container {
  background-color: #fff;
  width: 550px;
  min-height: 260px;
  position: relative;
  animation: fadeIn ease-in-out 0.3s;
}
.modal-friend__close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  opacity: 0.9;
}

.modal-friend__close:hover {
  opacity: 1;
  color: black;
}
.modal-friend-header {
  display: flex;
  background: #009688;
  height: 56px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #fff;
}

.modal-friend-header-label {
  margin-left: 8px;
}
.modal-friend__body {
  padding: 16px;
}
.modal-friend__label {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.modal-friend__input {
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}

.modal__input:hover {
  border: 1px solid blue;
}

.add-friend {
  border: none;
  color: #fff;
  width: 100%;
  background: #009688;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.add-friend:hover {
  opacity: 0.9;
}

.open-friend {
  display: flex;
}

.dropdown-menu {
  left: -14px !important;
}

.dropdown-item {
  padding: 2px 8px 6px 8px;
}

@keyframes fadeIn {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
